body {
    background-color: rgb(10, 10, 5);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
}
h1 {
    color: #FFFFFF;
    /* means the font is 2.5 times bigger than the normal font */
    font-size: 2.5em;
    /* defines the thickness; the value below is an extra light font weight  */
    font-weight: 100;
    /* text-transform: uppercase; */
}

.backdrop {
    width: 800px;
    color: #e5e5e5;
    margin: 30px auto;
    /* border: 2px solid red; */
}

#seconds, #minutes, #hours {
    font-size: 2em;
}

#timer {
    border: 10px solid yellow;
    margin: 5px auto;
    width: 200px;
    height: 200px;
    /* border-radius: 50%; */
    align-items: center;
}

.time {
    border: 1px solid red;
    margin: auto;
    width: 80%;
    height: 10%;
    display: flex;
    align-items: center;
    /* align-content: center; */
}

.btn {
    border: 1px solid blue;
    margin: auto;
    width: 80%;
    height: 10%;
    display: flex;
    align-items: center;
    /* align-content: center; */
}

