body {
    background-color: rgb(10, 10, 5);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
}
h1 {
    color: #FFFFFF;
    /* means the font is 2.5 times bigger than the normal font */
    font-size: 2.5em;
    /* defines the thickness; the value below is an extra light font weight  */
    font-weight: 100;
    /* text-transform: uppercase; */
}

.backdrop {
    width: 800px;
    color: #e5e5e5;
    margin: 30px auto;
    border: 2px solid red;
}

#seconds, #minutes, #hours {
    font-size: 3em;
    /* min-height: 20em;
    display: table-cell;
    vertical-align: middle; */
    
}

.counter {
    border: 10px solid #E9C46A;
    width: 20em;
    height: 20em;
    border-radius: 50%;
    margin: auto;
    text-align: center;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.time {
    font-size: 1.2em;
    /* border: 1px solid yellow; */
    margin: 0.5em auto;
    width: 10em;
    text-align: center;
    padding: 0.5em;
}

#timer {
    /* margin: auto;
    display: flex;
    border: 1px solid green;
    justify-content: center;
    align-items: center;
    text-align: center; */
}
button {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background-color: #14213D;
    color: #E5E5E5;
    border: 1px solid white;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2em;
    padding: 10px;
    margin: 10px;
    outline: none; 
}
button:hover {
    transition: 2s;
    background-color:#F4A261;
}

label {
   color: #F4A261;
}

#alarms {
    color: green;
    width: 5em;
    height: 2em;
}

.sounds {
    display: flex;
}

